body {
	
}

header {
	display: flex;
	align-items: center;
}

.headerdiv {
	display:inline-block;
	font-size: 8px;
	height: 50px;
	text-transform: uppercase;
	font-family: "Gill Sans", sans-serif;
	margin-right: 25px;
	margin-top: 50px;
	margin-bottom: 50px;
}

#bauhausimg {
	width: 200px;
	height: auto;
	margin-left: 100%;
}

#headerdiv1 {
	margin-left: 40%;
	border-right: 1px solid grey;
}

#headerdiv2 {
	margin-left: 100px;
}

#callus {
	color: grey;
	display: inline-block;
	text-transform: uppercase;
	font-family: "Gill Sans", sans-serif;
}

#phonenumber {
	display: inline-block;
	font-family: "Gill Sans", sans-serif;
	margin-right: 25px;
}

.headerimg {
	max-width: 20px;
	height: auto;
	margin-left: 10px;
	margin-right: 10px;
}

main {
	margin-bottom: 50px;
	border-bottom: 1px solid grey;
}

.boite {
	position: relative;
	margin: 0 auto;
	text-align: center;
}

#imgmaison {
	width: 1500px;
	height: auto;
}

.legende {
	position: absolute;
	bottom: 0;
	background-color: rgba(200, 200, 200, 0.85);
	opacity: 0;
	-webkit-transition: opacity .5s ease;
	transition: opacity .5s ease;
	text-align: center;
}

#leader {
	margin: 0 auto;
	width: 1004px;
}
	

.leader {
	margin-top: 100px;
	width: 500px;
	display: inline-block;
}

.h1titre {
	text-align: center;
}

.boite:hover .legende {
	opacity: 1;
}

.container {
	position: relative;
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #32CD35;
}

.container:hover .overlay {
	opacity: 0.7;
}

.text {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

.imgmaison {
	width: 300px;
	height: 500px;
}

#maison2 {
	margin-left: 100px;
	margin-right: 50px;
}

#maison3 {
	margin-left: 50px;
	margin-right: 100px;
}

#fromclients {
	text-align: center;
}

#fromclients1 {
	margin-left: 10%;
}

#fromclients2 {
	margin-right: 10%;
	float: right;
}

.fromclients {
	width: 30%;
	display: inline-block;
}

.imgmaison2 {
	width: 300px;
	height: 300px;
	margin-bottom: 50px;
	text-align: center;
}

#maison6 {
	margin-left: 100px;
	margin-right: 100px;
}

footer img {
	width: 200px;
	height: auto;
}

footer {
	margin-left: 5%;
	height: 100px;
	display: flex;
	align-items: flex-start;
}

footer div {
	display: inline-block;
	width: 16%;
	height: 100px;
}

footer a {
	color: black;
	text-decoration: none;
}

footer a:hover {
	color: #32CD35;
}



@media screen and (max-width: 992px) {
	
	body {
		font-size: 10px;
	}
	
	h1 {
		font-size: 20px;
	}
	
	#imgmaison {
		width: 700px;
	}
	
	#bauhausimg {
		width: 100px;
		height: auto;
		margin-left: 100px;
	}
	
	#callus {
		font-size: 10px;
	}
	
	#phonenumber {
		font-size: 10px;
	}
	
	header div h1 {
		font-size: 10px;
	}
	
	.headerdiv {
		display:inline-block;
		font-size: 4px;
		height: 25px;
		text-transform: uppercase;
		font-family: "Gill Sans", sans-serif;
		margin-right: 1px;
		margin-top: 25px;
		margin-bottom: 25px;
	}
	
	#headerdiv1 {
		margin-left: 20%;
		width: 200px;
	}
	
	#headerdiv2 {
		font-size: 10px;
	}
	
	.headerimg {
		max-width: 10px;
		max-height: auto;
		margin-left: 5px;
		margin-right: 5px;
	}
	
	#leader {
		margin: 0 auto;
		width: 900px;
		margin-left: 5%;
		margin-right: 5%;
	}
	
	.leader {
		width: 440px;
		display: inline-block;
	}
	
	.leader img {
		width: 100px;
		height: auto;
	}
	
	.leader #batiment {
		width: 400px;
		height: auto;
	}
	
	.container {
		position: relative;
		width: 90%;
		margin: 0 auto;
		text-align: center;
	}
	
	.container img {
		width: 120px;
		height: auto;
	}
	
	#maison2 {
		margin-left: 50px;
		margin-right: 25px;
	}

	#maison3 {
		margin-left: 25px;
		margin-right: 50px;
	}
	
	footer div img {
		width: 100px;
		height: auto;
	}
	
	
}	
